/* Logo */
:root {
    --logo: url(https://jellyfin.org/images/logo.svg);
}

/* Card playbutton styling */
.cardOverlayContainer>.cardOverlayFab-primary {
    background-color: var(--primary-accent-color) !important;
    color: var(--text-color) !important;
    font-size: 80% !important;
    z-index: 2;
}

/* Blur the card upon hovering on play button */
.cardOverlayContainer:has(.cardOverlayButton:hover) {
    backdrop-filter: blur(5px) !important;
}

/* Nice animations on hover from elegantfin */
.card.card-hoverable .cardOverlayContainer:after {
    content: '';
    transition: .5s;
    position: absolute;
    inset: 0;
    transform: translateY(-50%) translateX(0);
    background: linear-gradient(0deg, transparent, var(--primary-accent-color) 45%, var(--secondary-accent-color) 55%, transparent) !important;
}

.card.card-hoverable:hover .cardOverlayContainer:after {
    transform: translateY(50%) translateX(0) !important;
    opacity: 0.5;
}


/* Banners on Collections */
.verticalSection .cardImageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  max-width: 10em;
  aspect-ratio: 1/1;
  pointer-events: none;
  z-index: 6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.verticalSection.OSCARS .cardImageContainer::after {
  background-image: url('https://github.com/jackkerouac/aphrodite/blob/main/images/awards/yellow/oscars.png?raw=true');
}

.verticalSection.IMDB_250 .cardImageContainer::after {
  background-image: url('https://github.com/jackkerouac/aphrodite/blob/main/images/awards/yellow/imdb.png?raw=true');
}


button.headerButton.headerHomeButton.barsMenuButton.headerButtonLeft.paper-icon-button-light {
    order: -1;
}

button.headerButton.headerButtonLeft.headerBackButton.paper-icon-button-light {
    order: -2;
}
button.headerButton.mainDrawerButton.barsMenuButton.headerButtonLeft.paper-icon-button-light {
  order: -3;
}
